<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hotel Management System</title>
<link rel="stylesheet" href="/css/common.css">
<link rel="shortcut icon" href="#">
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body >
	<div style= "background-color:Thistle;">
		
		 <h2 style= "color:BlueViolet;"><i>About Our Hotel</i></h2>
		 <p  >This is best place to enjoy your holiday with your family,business work, turist.</p>
		 <p>This place is near the beach and modern rooms with independent entrances. 
		 <br>All air-conditioned rooms come with an LCD satellite TV and balcony.</p>
		 <p>So this is definitely the right place for travelers who want to enjoy some quiet moments away from the big city.</p>
			
    </div>
   
</body>
</html>