<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hotel Management System</title>
<link rel="stylesheet" href="/css/common.css">
<link rel="shortcut icon" href="#">
<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</head>
<body >
	<div>
		<form style= "background-color:LightSteelBlue;">
		 <p>Name :Madhuri Bhambure 
		   <br>Contact :9890991258 
	       <br><i> <font color = "blue">Email :madhuri123@gmail.com</font></i>
	     </p>
	     
		 <p>Name :Saurabh Dighe 
		   <br>Contact :9899125863 
		   <br><i> <font color = "blue">Email :saurabh145@gmail.com</font></i>
		 </p>
		 
		 </form>
    </div>	
</body>
</html>